* {
  background: #9ebceb;
}
.header {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-size: 30px;
  line-height: 82px;
  margin: 0 0 24px;
}

.body-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}
/* Images Section */
.game-option-container {
  width: 320px;
  margin: 20px;
}

input {
  height: 300px;
  opacity: 1;
}

h2 {
  font-size: 30px;
  font-family: Sans, sans-serif;
  font-style: italic;
  color: rgb(14, 14, 14);
}

.game-option-container:hover {
  text-decoration: underline;
}

input:hover {
  opacity: 0.5;
  animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(2px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(4px, 0, 0);
  }
}

/* Players Choices Section */
.player-choice {
  display: flex;
  justify-content: space-around;
  font-size: 25px;
}

.player-choice h3 i {
  font-size: 30px;
  color: rgb(87, 87, 43);
}

h3 i {
  margin: 10px;
}

/* Result Section */
.result-container {
  text-align: center;
  font-size: 45px;
  color: rgb(49, 134, 67);
}
